@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    animation: gradient 6s ease infinite;
    background: linear-gradient(-125deg, #7A5510, #FBC96C, #FAAE20, #797265, #C78A1A ) no-repeat;
    background-size: 300% 300%;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

@keyframes gradient{
    0% {
        background-position: 0 50%;
    }

    50%{
        background-position: 100% 50%;
    }


    100%{
        background-position: 0 50%;
    }
}

.relogio{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    background: transparent;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
}

.relogio div{
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: rgba(5, 5, 5, 0.9);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
    border-radius: 7px;
    letter-spacing: 3px;
}

.relogio span{
    font-weight: bolder;
    font-size: 60px;
}

.relogio span.tempo{
    font-size: 10px;
}